/* Age Gate Modal - NOTE need the JS for this to work. */
.ageGateModal,
.ageGateModalNoPass {
  background-color: $color-blue-main;
  display: none;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999;
}
.ageGateContainer {
  background-color: $color-grey-dark-1;
  left: 50%;
  max-width: 800px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
}
.innerAgeGateGroup {
  padding: 50px 0;
}
.fields {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2%;
}
#monthList {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
#dayList {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
#yearList {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.selectContainer {
  margin: 0 0.75%;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
}
#countries.selectContainer {
  width: 100%;
  max-width: inherit;
}
/*this makes original select disappear*/
.selectContainer select {
  display: none;
}
.select-selected {
  background-color: #ffcd0d;
}
/*creates arrow for custom select*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}
.select-items div,
.select-selected {
  background-color: #ffcd0d;
  color: #000;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select-items {
  position: absolute;
  background-color: #ffcd0d;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  overflow-y: scroll;
  height: 125px;
}
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.buttonAgegate,
.buttonAgegate:hover {
  background: #ffcd0d;
  font-weight: 700;
  margin: 40px auto 0;
  max-width: 300px;
  height: auto;
  padding: 12px 24px;
  color: #000;
  text-transform: uppercase;
  border: 2px solid #000;
  width: 90%;
}
.buttonAgegate:disabled {
  opacity: 0.7;
}
