.carousel {
    margin: 5rem auto 0;
    max-width: 150rem;
    position: relative;

    &__prev, &__next {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 3rem;
    }
    &__prev {
        left: 3%;
        z-index: 1;

        @include respond(tab-port){
            left: 2%;
        }
    }
    &__next {
        right: 3%;

        @include respond(tab-port){
            right: 2%;
        }
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
    }

    &__item {
        cursor: pointer;
        width: 90%;
        margin: 0 auto;
        position: relative;


        & img {
            width: 100%;
            outline: 6px solid $color-black;
            outline-offset: 1rem;
        }
    }
    &__playbutton {
        @include absCenter;
        opacity: 0.75;
        width: 5rem!important;
        border: none!important;
        box-shadow: none!important;
        outline: none!important;
        z-index: 2;
    }
}