.header {
    background-color: $color-black;
    height: 12rem;
    position: relative;

    &:after {
        content: "";
        background: url(../img/common/black_triangle.png) top left repeat-x;
        height: 100%;
        display: block;
    }

    &__group {
        max-width: 150rem;
        margin: 0 auto;
        width: 90%;
        display: flex;
        align-items: center;
        height: 12rem;
    }
}