.textbox {
    width: 95%;
    max-width: 120rem;
    // background: linear-gradient(180deg, rgba($color-black, 1) 0%, rgba($color-black, 1) 30%, rgba($color-primary-light, 1) 30%, rgba($color-primary-light, 1) 100%);
    position: relative;
    margin: 2rem auto;
    overflow: hidden;
    z-index: 1;

    &--orange {
        background-color: $color-orange;
    }
    &--gold {
        background-color: $color-gold;
    }

    &__shadow {
        overflow: initial;
        
        &:after {
            content: "";
            background: url(../img/common/lined_shadow.png) no-repeat;
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            z-index: -1;
            bottom: -10px;
            left: 10px;
            background-size: 100% 100%;
          }
    }

    &__border {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        border: 2px solid $color-white;
        z-index: 1;

        &--black {
            border: 2px solid $color-black;
        }
    }

    &__title {
        width: 100%;
        background-color: $color-black;
        padding: 1.5rem 0 1rem;
        margin: 0;
        position: relative;
        z-index: 1;
    }

    &__body {
        width: 100%;
        padding: 1.5rem 5.5rem 2.5rem;

        &:after {
            content: "";
            background: url(../img/common/dots_blue.png) repeat-x, rgba($color-primary-light, 1);
            height: 100%;
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(180deg);
            z-index: -1;
        }

        &--italic {
            font-style: italic;
            font-size: 1.2rem;
            line-height: .5;
        }

        &--orange {
            background-color: $color-gold;
        }

        &--orange:after {
            background: url(../img/common/dots_orange.png) repeat-x;
        }

        &--feature {
            position: relative;
            z-index: 2;
            display: flex;
            flex: 2;
            flex-direction: column;
            width: 100%;
            gap: 2rem;
            margin: 2rem 0;

            @include respond(tab-port) {
                flex-direction:row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
                margin: 1.5rem 0 0;
            }
            &--reverse {
                @include respond(tab-port) {
                    flex-direction:row-reverse;
                }
            }
        }
    }
    &__image {
        cursor: pointer;
        width: 100%;
        max-width: 64rem;
    }
    &__paragraph {
        width: 100%;

        @include respond(tab-port) {
            width: 75%;
        }
    }
}