.characters {
    position: relative;
    scroll-margin-top: 80px;
    
    &:after {
        content: "";
        background: url(../img/characters/character_bg.jpg) no-repeat;
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;    
        background-size: cover;
    }

    &__wrapper {
        padding: 5rem 0;
        text-align: center;
        position: relative;
        max-width: 150rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            flex-direction: row;
        }
        &--extras {
            // &:after {
            //     content: "";
            //     background: url(../img/signup/right_signup.png) no-repeat;
            //     height: 100%;
            //     width: 100%;
            //     max-width: 969px;
            //     display: none;
            //     position: absolute;
            //     z-index: -1;
            //     top: 0rem;
            //     right: -12%;
            //     background-size: 60%;
            //     background-position: top;

            //     @include respond(tab-port) {
            //         display: block;
            //     } 
            // }

            // &:before {
            //     content: "";
            //     background: url(../img/signup/left_signup.png) no-repeat;
            //     height: 100%;
            //     width: 40%;
            //     max-width: 969px;
            //     display: none;
            //     position: absolute;
            //     z-index: -1;
            //     top: 0px;
            //     left: -6%;
            //     background-size: 56%;
            //     background-position: top;

            //     @include respond(phone) {
            //         display: block;
            //     } 
            // }
        }
    }
    &__group {
        margin: 0 auto;
        width: 95%;
        max-width: 75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__selector {
        width: 100%;
        max-width: 60rem;
        margin: 1rem auto 0;
        display: flex;
        flex-wrap: wrap;

        & li {
            width: 20.8%;
            list-style-type: none;
            position: relative;
            display: inline-block;
            cursor: pointer;
            margin: 0 1rem 1.5rem;
            border: 3px solid $color-button-red;
            filter: drop-shadow(0px 0px 5px $color-grey-dark-3);

            
            & img {
                width: 100%; 
                vertical-align: middle;
            }
            
            &:hover .characters__top {
                display: inline;
                filter: drop-shadow(5px 5px 5px $color-grey-dark-3);
                border: 2px solid $color-button-gold;
            }
        }
    }

    &__top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
    }

    &__active  {
        filter: drop-shadow(5px 5px 5px $color-grey-dark-3);
        display: inline;
        border: 2px solid $color-button-gold;
    }

    &__text {
        transition: opacity .5s ease-in;
        opacity: 1;
    }

    &__image {
        width: 100%;
        max-width: 60rem;
        transition: opacity .5s ease-in;
        opacity: 1;
    }

    &__fadeout {
        opacity: 0;
    }

    
}