.features {
    text-align: center;
    position: relative;
    scroll-margin-top: 80px;


    &:after {
        content: "";
        background: url(../img/common/dots_blue.png) repeat-x, rgba($color-primary-light, 1);
        height: 100%;
        width: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -2;    
        background-size: auto 100%;
        overflow-y: hidden;
    }

    &__wrapper {
        padding: 10rem 0;
        text-align: center;
        position: relative;
        max-width: 150rem;
        margin: 0 auto;

        // &--extras {
        //     &:after {
        //         content: "";
        //         background: url(../img/features/right_features.png) no-repeat;
        //         height: 60%;
        //         width: 32%;
        //         max-width: 868px;
        //         display: none;
        //         position: absolute;
        //         z-index: -1;
        //         top: 3rem;
        //         right: -14%;
        //         background-size: 60%;
        //         background-position: top;

        //         @include respond(phone) {
        //             display: block;
        //         } 
        //     }

        //     &:before {
        //         content: "";
        //         background: url(../img/features/left_features.png) no-repeat;
        //         height: 100%;
        //         width: 40%;
        //         max-width: 969px;
        //         display: none;
        //         position: absolute;
        //         z-index: -1;
        //         top: -3%;
        //         left: -1%;
        //         background-size: 100%;
        //         background-position: top;

        //         @include respond(phone) {
        //             display: block;
        //         } 
        //     }
        // }
    }
}